In [13]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from sklearn.preprocessing import StandardScaler

#Lettura dei file csv e selezione delle colonne di interesse
df1 = pd.read_csv('C:\\Users\\Utente\\Desktop\\cakio\\dcereijo-player-scores\\data\\uefarankteam3.csv')
df2 = pd.read_csv('C:\\Users\\Utente\\Desktop\\cakio\\dcereijo-player-scores\\data\\spi_global_rankings.csv')

#Esecuzione del matching tramite la funzione extractOne di fuzzywuzzy
df_merged = pd.merge(df2, df1, how='cross')
df_merged['correct_ratio'] = df_merged.apply(lambda x: fuzz.token_set_ratio(x['name22'], x['nome squadra']) if str(x['name22']) != 'nan' and str(x['nome squadra']) != 'nan' else 0, axis=1)
df_results = df_merged[df_merged['correct_ratio'] >= 95]

######Stampa dei risultati
print(df_results)

#######Seleziona solo le righe relative ai paesi desiderati
desired_countries = ['Ger', 'Eng', 'Ita', 'Esp', 'Fra', 'Ned', 'Por', 'Rus']
df3 = df_results[df_results['paese'].isin(desired_countries)]

#####Normalizza i punteggi di ogni variabile
scaler = StandardScaler()
df3[['off', 'def', 'spi', 'UEFAPoints']] = scaler.fit_transform(df3[['off', 'def', 'spi', 'UEFAPoints']])

####Assegna un peso diverso a ciascuna variabile
weights = {'off': 0.2, 'def': 0.2, 'spi': 0.2, 'UEFAPoints': 0.4}

###Calcola il punteggio overall per ogni squadra
df3['Overall'] = (df3['off']*weights['off'] + df3['def']*weights['def'] +
df3['spi']*weights['spi'] + df3['UEFAPoints']*weights['UEFAPoints'])

##Normalizza il punteggio overall in modo che vari da 0 a 1
df3['Overall'] = (df3['Overall'] - df3['Overall'].min()) / (df3['Overall'].max() - df3['Overall'].min())

#Stampa il dataframe risultante
print(df3)

##Raggruppa il dataframe per la colonna 'league' e calcola la somma degli overall
league_overall = df3.groupby('league')['Overall'].sum()
print(league_overall)

        rank  prev_rank            name22                         league  \
4          1          1   Manchester City        Barclays Premier League
568        2          2     Bayern Munich              German Bundesliga
1134       3          4       Real Madrid       Spanish Primera Division
1703       4          3         Barcelona       Spanish Primera Division
2275       5          6         Liverpool        Barclays Premier League
...      ...        ...               ...                            ...
297924   526        528  Asteras Tripolis             Greek Super League
303513   536        526       KV Oostende         Belgian Jupiler League
304730   538        538          Giannina             Greek Super League
305881   540        540   Shamrock Rovers  UEFA Europa Conference League
334847   591        584    Brommapojkarna            Swedish Allsvenskan

         off   def    spi  Unnamed: 0  posizione  nn  ... 17/18 18/19  19/20  \
4       2.95  0.33  92.30           4        5.0 NaN  ...  22.0  25.0   25.0
568     3.13  0.63  89.12           1        2.0 NaN  ...  29.0  20.0   36.0
1134    2.75  0.51  88.00           0        1.0 NaN  ...  32.0  19.0   17.0
1703    2.30  0.33  86.86           2        3.0 NaN  ...  25.0  30.0   24.0
2275    2.63  0.63  84.52           7        8.0 NaN  ...  30.0  29.0   18.0
...      ...   ...    ...         ...        ...  ..  ...   ...   ...    ...
297924  0.56  1.46  22.86         249        NaN NaN  ...   NaN   1.5    NaN
303513  0.96  2.23  21.07         168        NaN NaN  ...   1.0   NaN    NaN
304730  0.61  1.69  20.71         251        NaN NaN  ...   NaN   NaN    NaN
305881  0.69  1.84  20.63         268        NaN NaN  ...   0.5   1.0    1.5
334847  0.54  2.18  13.32         317        NaN NaN  ...   NaN   NaN    NaN

        20/21  21/22  22/23  TitlePoints  CountryPart  UEFAPoints  \
4        35.0   27.0   27.0          1.0       37.463     258.463
568      27.0   26.0   27.0         43.0       30.756     317.756
1134     26.0   30.0   28.0         94.0       39.827     380.827
1703     20.0   15.0    9.0         41.0       39.827     286.827
2275     24.0   33.0   19.0         40.0       37.463     262.463
...       ...    ...    ...          ...          ...         ...
297924    NaN    NaN    NaN          NaN       10.500      20.000
303513    NaN    NaN    NaN          NaN        1.000       2.000
304730    NaN    NaN    NaN          NaN        1.000       2.000
305881    1.5    2.5    2.5          NaN        3.415      13.665
334847    NaN    NaN    NaN          NaN        1.000       2.000

        correct_ratio
4                 100
568               100
1134              100
1703              100
2275              100
...               ...
297924            100
303513            100
304730            100
305881            100
334847            100

[183 rows x 26 columns]
        rank  prev_rank           name22                       league  \
4          1          1  Manchester City      Barclays Premier League
568        2          2    Bayern Munich            German Bundesliga
1134       3          4      Real Madrid     Spanish Primera Division
1703       4          3        Barcelona     Spanish Primera Division
2275       5          6        Liverpool      Barclays Premier League
...      ...        ...              ...                          ...
194003   343        330        Hull City  English League Championship
214457   379        401         Guingamp               French Ligue 2
223489   395        431            Wigan  English League Championship
246099   435        410     Villarreal B     Spanish Segunda Division
264802   468        462  Arsenal Sarandi   Argentina Primera Division

             off       def       spi  Unnamed: 0  posizione  nn  ... 18/19  \
4       2.400619 -2.188152  1.910541           4        5.0 NaN  ...  25.0
568     2.787696 -1.129369  1.690627           1        2.0 NaN  ...  20.0
1134    1.970533 -1.552882  1.613174           0        1.0 NaN  ...  19.0
1703    1.002840 -2.188152  1.534337           2        3.0 NaN  ...  30.0
2275    1.712481 -1.129369  1.372514           7        8.0 NaN  ...  29.0
...          ...       ...       ...         ...        ...  ..  ...   ...
194003 -1.599179  1.658761 -1.857031          89        NaN NaN  ...   NaN
214457 -1.728205  1.941103 -2.070720         131        NaN NaN  ...   NaN
223489 -2.093778  1.411711 -2.170304          91        NaN NaN  ...   NaN
246099 -2.029265  1.976396 -2.334893          21       22.0 NaN  ...  16.0
264802 -2.136786  2.258738 -2.517463          13       14.0 NaN  ...  26.0

       19/20  20/21  21/22  22/23  TitlePoints  CountryPart  UEFAPoints  \
4       25.0   35.0   27.0   27.0          1.0       37.463    1.920107
568     36.0   27.0   26.0   27.0         43.0       30.756    2.599910
1134    17.0   26.0   30.0   28.0         94.0       39.827    3.323029
1703    24.0   20.0   15.0    9.0         41.0       39.827    2.245305
2275    18.0   24.0   33.0   19.0         40.0       37.463    1.965968
...      ...    ...    ...    ...          ...          ...         ...
194003   NaN    NaN    NaN    NaN          NaN        1.500   -1.008814
214457   NaN    NaN    NaN    NaN          NaN        9.000   -0.836837
223489   NaN    NaN    NaN    NaN          NaN        4.000   -0.997349
246099   NaN   30.0   24.0   12.0          3.0       39.827    0.984138
264802  10.0   23.0    NaN   17.0          2.0       37.463    1.140477

        correct_ratio   Overall
4                 100  0.799344
568               100  0.990527
1134              100  1.000000
1703              100  0.716263
2275              100  0.793750
...               ...       ...
194003            100  0.076308
214457            100  0.097277
223489            100  0.000000
246099            100  0.327388
264802            100  0.349936

[93 rows x 27 columns]
league
Argentina Primera Division     0.349936
Barclays Premier League        5.808143
Dutch Eredivisie               3.187023
English League Championship    0.355784
French Ligue 1                 3.183457
French Ligue 2                 0.196081
German Bundesliga              5.643934
Italy Serie A                  4.769412
Portuguese Liga                2.409790
Russian Premier Liga           1.792915
Spanish Primera Division       5.244328
Spanish Segunda Division       0.390979
Name: Overall, dtype: float64

C:\Users\Utente\anaconda4\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
<ipython-input-13-435360b2a039>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Overall'] = (df3['off']*weights['off'] + df3['def']*weights['def'] +
<ipython-input-13-435360b2a039>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Overall'] = (df3['Overall'] - df3['Overall'].min()) / (df3['Overall'].max() - df3['Overall'].min())

In [14]:
##Raggruppa il dataframe per la colonna 'league' e calcola la somma delle squadre
league_count = df3.groupby('league')['name22'].count()
print(league_count)

league
Argentina Primera Division      1
Barclays Premier League        12
Dutch Eredivisie                9
English League Championship     4
French Ligue 1                  9
French Ligue 2                  2
German Bundesliga              13
Italy Serie A                  12
Portuguese Liga                10
Russian Premier Liga            7
Spanish Primera Division       12
Spanish Segunda Division        2
Name: name22, dtype: int64

In [15]:
# Calcola la media tra il valore di Overall delle leghe e la quantit√† di squadre
league_average = league_overall / league_count

# Stampa il risultato
print(league_average)

league
Argentina Primera Division     0.349936
Barclays Premier League        0.484012
Dutch Eredivisie               0.354114
English League Championship    0.088946
French Ligue 1                 0.353717
French Ligue 2                 0.098041
German Bundesliga              0.434149
Italy Serie A                  0.397451
Portuguese Liga                0.240979
Russian Premier Liga           0.256131
Spanish Primera Division       0.437027
Spanish Segunda Division       0.195490
dtype: float64

In [20]:
#Lettura dei file csv e selezione delle colonne di interesse
df6 = pd.read_csv('C:\\Users\\Utente\\Desktop\\cakio\\dcereijo-player-scores\\data\\LEAGUEmean1.csv')

In [22]:
# Normalizza il punteggio overall in modo che vari da 0 a 1
df6['mean_overall'] = (df6['mean_overall'] - df6['mean_overall'].min()) / (df6['mean_overall'].max() - df6['mean_overall'].min())
# Stampa il nuovo dataframe
print(df6)

                     league  mean_overall competiton_id
0   Barclays Premier League      0.716867           GB1
1          Dutch Eredivisie      0.333710           NL1
2            French Ligue 1      0.332541           FR1
3         German Bundesliga      0.569787            L1
4             Italy Serie A      0.461541           IT1
5           Portuguese Liga      0.000000           PO1
6      Russian Premier Liga      0.044693           RU1
7  Spanish Primera Division      0.578278           SP1
8     UEFA Champions League      1.000000            CL
9        UEFA Europa League      0.439563            EL