In [7]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from sklearn.preprocessing import StandardScaler

# Lettura dei file csv e selezione delle colonne di interesse
df1 = pd.read_csv('C:\\Users\\Utente\\Desktop\\cakio\\dcereijo-player-scores\\data\\uefarankteam3.csv')
df2 = pd.read_csv('C:\\Users\\Utente\\Desktop\\cakio\\dcereijo-player-scores\\data\\spi_global_rankings.csv')

# Esecuzione del matching tramite la funzione extractOne di fuzzywuzzy
df_merged = pd.merge(df2, df1, how='cross')
df_merged['correct_ratio'] = df_merged.apply(lambda x: fuzz.token_set_ratio(x['name22'], x['nome squadra']) if str(x['name22']) != 'nan' and str(x['nome squadra']) != 'nan' else 0, axis=1)
df_results = df_merged[df_merged['correct_ratio'] >= 95]

# Stampa dei risultati
print(df_results)

# Seleziona solo le righe relative ai paesi desiderati
desired_countries = ['Ger', 'Eng', 'Ita', 'Esp', 'Fra', 'Tur', 'Ned', 'por', 'Bel', 'Rus', 'Gre', 'Sco', 'Den']
df3 = df_results[df_results['paese'].isin(desired_countries)]

# Normalizza i punteggi di ogni variabile
scaler = StandardScaler()
df3[['off', 'def', 'spi', 'UEFAPoints']] = scaler.fit_transform(df3[['off', 'def', 'spi', 'UEFAPoints']])

# Assegna un peso diverso a ciascuna variabile
weights = {'off': 0.2, 'def': 0.2, 'spi': 0.2, 'UEFAPoints': 0.4}

# Calcola il punteggio overall per ogni squadra
df3['Overall'] = (df3['off']*weights['off'] + df3['def']*weights['def'] +
                 df3['spi']*weights['spi'] + df3['UEFAPoints']*weights['UEFAPoints'])

# Normalizza il punteggio overall in modo che vari da 0 a 1
df3['Overall'] = (df3['Overall'] - df3['Overall'].min()) / (df3['Overall'].max() - df3['Overall'].min())

# Stampa il dataframe risultante
print(df3)

# Raggruppa il dataframe per la colonna 'league' e calcola la somma degli overall
league_overall = df3.groupby('league')['Overall'].sum()

# Calcola la media degli overall per ogni lega
league_overall_mean = league_overall.mean()

# Ordina le leghe in base alla loro media di overall, dal più alto al più basso
sorted_leagues = league_overall.sort_values(ascending=False).index

# Crea un nuovo dataframe con la media di overall per ogni lega
new_df = pd.DataFrame({'league': sorted_leagues, 'mean_overall': league_overall.loc[sorted_leagues].values / len(df3['name22'].unique())})

# Stampa il nuovo dataframe
print(new_df)

        rank  prev_rank            name22                         league  \
4          1          1   Manchester City        Barclays Premier League
568        2          2     Bayern Munich              German Bundesliga
1134       3          4       Real Madrid       Spanish Primera Division
1703       4          3         Barcelona       Spanish Primera Division
2275       5          6         Liverpool        Barclays Premier League
...      ...        ...               ...                            ...
297924   526        528  Asteras Tripolis             Greek Super League
303513   536        526       KV Oostende         Belgian Jupiler League
304730   538        538          Giannina             Greek Super League
305881   540        540   Shamrock Rovers  UEFA Europa Conference League
334847   591        584    Brommapojkarna            Swedish Allsvenskan

         off   def    spi  Unnamed: 0  posizione  nn  ... 17/18 18/19  19/20  \
4       2.95  0.33  92.30           4        5.0 NaN  ...  22.0  25.0   25.0
568     3.13  0.63  89.12           1        2.0 NaN  ...  29.0  20.0   36.0
1134    2.75  0.51  88.00           0        1.0 NaN  ...  32.0  19.0   17.0
1703    2.30  0.33  86.86           2        3.0 NaN  ...  25.0  30.0   24.0
2275    2.63  0.63  84.52           7        8.0 NaN  ...  30.0  29.0   18.0
...      ...   ...    ...         ...        ...  ..  ...   ...   ...    ...
297924  0.56  1.46  22.86         249        NaN NaN  ...   NaN   1.5    NaN
303513  0.96  2.23  21.07         168        NaN NaN  ...   1.0   NaN    NaN
304730  0.61  1.69  20.71         251        NaN NaN  ...   NaN   NaN    NaN
305881  0.69  1.84  20.63         268        NaN NaN  ...   0.5   1.0    1.5
334847  0.54  2.18  13.32         317        NaN NaN  ...   NaN   NaN    NaN

        20/21  21/22  22/23  TitlePoints  CountryPart  UEFAPoints  \
4        35.0   27.0   27.0          1.0       37.463     258.463
568      27.0   26.0   27.0         43.0       30.756     317.756
1134     26.0   30.0   28.0         94.0       39.827     380.827
1703     20.0   15.0    9.0         41.0       39.827     286.827
2275     24.0   33.0   19.0         40.0       37.463     262.463
...       ...    ...    ...          ...          ...         ...
297924    NaN    NaN    NaN          NaN       10.500      20.000
303513    NaN    NaN    NaN          NaN        1.000       2.000
304730    NaN    NaN    NaN          NaN        1.000       2.000
305881    1.5    2.5    2.5          NaN        3.415      13.665
334847    NaN    NaN    NaN          NaN        1.000       2.000

        correct_ratio
4                 100
568               100
1134              100
1703              100
2275              100
...               ...
297924            100
303513            100
304730            100
305881            100
334847            100

[183 rows x 26 columns]
        rank  prev_rank            name22                    league       off  \
4          1          1   Manchester City   Barclays Premier League  2.436211
568        2          2     Bayern Munich         German Bundesliga  2.790975
1134       3          4       Real Madrid  Spanish Primera Division  2.042029
1703       4          3         Barcelona  Spanish Primera Division  1.155119
2275       5          6         Liverpool   Barclays Premier League  1.805519
...      ...        ...               ...                       ...       ...
276944   489        488         Atromitos        Greek Super League -2.018049
289979   512        510        Kilmarnock      Scottish Premiership -1.761831
297924   526        528  Asteras Tripolis        Greek Super League -2.274268
303513   536        526       KV Oostende    Belgian Jupiler League -1.485903
304730   538        538          Giannina        Greek Super League -2.175722

             def       spi  Unnamed: 0  posizione  nn  ... 18/19 19/20  20/21  \
4      -2.064053  1.934929           4        5.0 NaN  ...  25.0  25.0   35.0
568    -1.240627  1.748755           1        2.0 NaN  ...  20.0  36.0   27.0
1134   -1.569997  1.683184           0        1.0 NaN  ...  19.0  17.0   26.0
1703   -2.064053  1.616442           2        3.0 NaN  ...  30.0  24.0   20.0
2275   -1.240627  1.479445           7        8.0 NaN  ...  29.0  18.0   24.0
...          ...       ...         ...        ...  ..  ...   ...   ...    ...
276944  1.010068 -1.905071         248        NaN NaN  ...   1.5   2.0    NaN
289979  1.888389 -2.025675         242        NaN NaN  ...   NaN   1.0    NaN
297924  1.037516 -2.130472         249        NaN NaN  ...   1.5   NaN    NaN
303513  3.150974 -2.235268         168        NaN NaN  ...   NaN   NaN    NaN
304730  1.668808 -2.256344         251        NaN NaN  ...   NaN   NaN    NaN

        21/22  22/23  TitlePoints  CountryPart  UEFAPoints  correct_ratio  \
4        27.0   27.0          1.0       37.463    2.274611            100
568      26.0   27.0         43.0       30.756    3.008433            100
1134     30.0   28.0         94.0       39.827    3.789012            100
1703     15.0    9.0         41.0       39.827    2.625649            100
2275     33.0   19.0         40.0       37.463    2.324116            100
...       ...    ...          ...          ...         ...            ...
276944    NaN    NaN          NaN        7.500   -0.757101            100
289979    NaN    NaN          NaN        1.000   -0.899427            100
297924    NaN    NaN          NaN       10.500   -0.676656            100
303513    NaN    NaN          NaN        1.000   -0.899427            100
304730    NaN    NaN          NaN        1.000   -0.899427            100

         Overall
4       0.800956
568     0.971131
1134    1.000000
1703    0.738862
2275    0.789628
...          ...
276944  0.020291
289979  0.070747
297924  0.000000
303513  0.162690
304730  0.010961

[120 rows x 27 columns]
                         league  mean_overall
0       Barclays Premier League      0.049403
1             German Bundesliga      0.047442
2      Spanish Primera Division      0.045896
3                 Italy Serie A      0.040945
4                French Ligue 1      0.027296
5              Dutch Eredivisie      0.026366
6        Belgian Jupiler League      0.020104
7    Turkish Turkcell Super Lig      0.017976
8          Russian Premier Liga      0.015582
9          Scottish Premiership      0.014793
10            Danish SAS-Ligaen      0.008472
11     Spanish Segunda Division      0.003809
12  English League Championship      0.003749
13   Argentina Primera Division      0.003166
14           Greek Super League      0.002319
15               French Ligue 2      0.002021

C:\Users\Utente\anaconda4\lib\site-packages\pandas\core\frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
<ipython-input-7-a64d5b8ea05e>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Overall'] = (df3['off']*weights['off'] + df3['def']*weights['def'] +
<ipython-input-7-a64d5b8ea05e>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Overall'] = (df3['Overall'] - df3['Overall'].min()) / (df3['Overall'].max() - df3['Overall'].min())

In [9]:
# Normalizza il punteggio overall in modo che vari da 0 a 1
new_df['mean_overall'] = (new_df['mean_overall'] - new_df['mean_overall'].min()) / (new_df['mean_overall'].max() - new_df['mean_overall'].min())
# Stampa il nuovo dataframe
print(new_df)

                         league  mean_overall
0       Barclays Premier League      1.000000
1             German Bundesliga      0.958598
2      Spanish Primera Division      0.925981
3                 Italy Serie A      0.821485
4                French Ligue 1      0.533413
5              Dutch Eredivisie      0.513788
6        Belgian Jupiler League      0.381627
7    Turkish Turkcell Super Lig      0.336712
8          Russian Premier Liga      0.286198
9          Scottish Premiership      0.269551
10            Danish SAS-Ligaen      0.136140
11     Spanish Segunda Division      0.037737
12  English League Championship      0.036467
13   Argentina Primera Division      0.024147
14           Greek Super League      0.006290
15               French Ligue 2      0.000000