In [10]:
import pandas as pd
from fuzzywuzzy import process

# leggi i dataset
df1 = pd.read_csv('C:\\Users\\Utente\\Desktop\\cakio\\dcereijo-player-scores\\data\\uefarankteam3.csv', encoding='ISO-8859-1')
df2 = pd.read_csv('C:\\Users\\Utente\\Desktop\\cakio\\dcereijo-player-scores\\data\\spi_global_rankings.csv')

# sostituisci tutti i missing value con 0
df1 = df1.fillna(0)
df2 = df2.fillna(0)

# crea una nuova colonna "nome squadra pulito" in df1
df1['nome squadra pulito'] = df1['nome squadra'].str.lower().str.strip()

# crea una nuova colonna "name22 pulito" in df2
df2['name22 pulito'] = df2['name22'].str.lower().str.strip()

# imposta il quoziente di similarità minimo al 70%
min_similarity = 70

# crea una funzione per trovare la stringa più simile in df2 per ogni riga in df1
def find_similar_name(row):
    name1 = row['nome squadra pulito']
    matches = process.extractOne(name1, df2['name22 pulito'])
    if matches[1] >= min_similarity:
        return matches[0]
    else:
        return None

# crea una nuova colonna "name22 pulito" in df1
df1['name22 pulito'] = df1.apply(find_similar_name, axis=1)

# unisci i due dataset in base alla colonna "nome squadra" e "name22 pulito"
merged_df = df1.merge(df2, how='outer', left_on='name22 pulito', right_on='name22')
# visualizza il risultato
print(merged_df)

      Unnamed: 0  posizione   nn     nome squadra paese  13/14  14/15  15/16  \
0            0.0        1.0  0.0      Real Madrid   Esp   35.0   29.0   33.0
1            1.0        2.0  0.0    Bayern Munich   Ger   27.0   28.0   29.0
2            2.0        3.0  0.0     FC Barcelona   Esp   24.0   34.0   26.0
3            3.0        4.0  0.0         Juventus   Ita   23.0   29.0   18.0
4            4.0        5.0  0.0  Manchester City   Eng   19.0   15.0   26.0
...          ...        ...  ...              ...   ...    ...    ...    ...
1203         NaN        NaN  NaN              NaN   NaN    NaN    NaN    NaN
1204         NaN        NaN  NaN              NaN   NaN    NaN    NaN    NaN
1205         NaN        NaN  NaN              NaN   NaN    NaN    NaN    NaN
1206         NaN        NaN  NaN              NaN   NaN    NaN    NaN    NaN
1207         NaN        NaN  NaN              NaN   NaN    NaN    NaN    NaN

      16/17  17/18  ...  nome squadra pulito  name22 pulito_x   rank  \
0      33.0   32.0  ...          real madrid      real madrid    NaN
1      22.0   29.0  ...        bayern munich    bayern munich    NaN
2      23.0   25.0  ...         fc barcelona        barcelona    NaN
3      33.0   23.0  ...             juventus         juventus    NaN
4      18.0   22.0  ...      manchester city  manchester city    NaN
...     ...    ...  ...                  ...              ...    ...
1203    NaN    NaN  ...                  NaN              NaN  637.0
1204    NaN    NaN  ...                  NaN              NaN  638.0
1205    NaN    NaN  ...                  NaN              NaN  639.0
1206    NaN    NaN  ...                  NaN              NaN  640.0
1207    NaN    NaN  ...                  NaN              NaN  641.0

      prev_rank               name22                league   off   def   spi  \
0           NaN                  NaN                   NaN   NaN   NaN   NaN
1           NaN                  NaN                   NaN   NaN   NaN   NaN
2           NaN                  NaN                   NaN   NaN   NaN   NaN
3           NaN                  NaN                   NaN   NaN   NaN   NaN
4           NaN                  NaN                   NaN   NaN   NaN   NaN
...         ...                  ...                   ...   ...   ...   ...
1203      637.0  Forest Green Rovers    English League One  0.22  2.24  6.95
1204      629.0           Hartlepool    English League Two  0.33  2.58  6.84
1205      639.0     Doncaster Rovers    English League Two  0.20  2.29  6.39
1206      640.0         Crawley Town    English League Two  0.22  2.51  5.55
1207      641.0        Guizhou Renhe  Chinese Super League  0.20  2.61  4.86

          name22 pulito_y
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
...                   ...
1203  forest green rovers
1204           hartlepool
1205     doncaster rovers
1206         crawley town
1207        guizhou renhe

[1208 rows x 28 columns]

In [11]:
desired_countries = ['Ger', 'Eng', 'Ita', 'Esp', 'Fra', 'Tur', 'Ned', 'por', 'Bel', 'Rus', 'Gre', 'Sco', 'Den']
df3 = merged_df[merged_df['paese'].isin(desired_countries)]
print(df3)

     Unnamed: 0  posizione   nn      nome squadra paese  13/14  14/15  15/16  \
0           0.0        1.0  0.0       Real Madrid   Esp   35.0   29.0   33.0
1           1.0        2.0  0.0     Bayern Munich   Ger   27.0   28.0   29.0
2           2.0        3.0  0.0      FC Barcelona   Esp   24.0   34.0   26.0
3           3.0        4.0  0.0          Juventus   Ita   23.0   29.0   18.0
4           4.0        5.0  0.0   Manchester City   Eng   19.0   15.0   26.0
..          ...        ...  ...               ...   ...    ...    ...    ...
513       256.0        0.0  0.0        AGF Aarhus   Den    0.0    0.0    0.0
514       257.0        0.0  0.0      SÃ¸nderjyskE   Den    0.0    0.0    0.0
515       258.0        0.0  0.0  FC NordsjÃ¦lland   Den    1.5    0.0    0.0
516       259.0        0.0  0.0         Lyngby BK   Den    0.0    0.0    0.0
517       260.0        0.0  0.0       AaB Aalborg   Den    0.5    6.0    0.0

     16/17  17/18  ...  nome squadra pulito    name22 pulito_x  rank  \
0     33.0   32.0  ...          real madrid        real madrid   NaN
1     22.0   29.0  ...        bayern munich      bayern munich   NaN
2     23.0   25.0  ...         fc barcelona          barcelona   NaN
3     33.0   23.0  ...             juventus           juventus   NaN
4     18.0   22.0  ...      manchester city    manchester city   NaN
..     ...    ...  ...                  ...                ...   ...
513    0.0    0.0  ...           agf aarhus         agf aarhus   NaN
514    1.5    0.0  ...         sã¸nderjyske  newell's old boys   NaN
515    0.0    0.0  ...     fc nordsjã¦lland   fc nordsjaelland   NaN
516    0.0    1.0  ...            lyngby bk             lyngby   NaN
517    0.0    0.0  ...          aab aalborg                aab   NaN

     prev_rank  name22  league  off  def spi name22 pulito_y
0          NaN     NaN     NaN  NaN  NaN NaN             NaN
1          NaN     NaN     NaN  NaN  NaN NaN             NaN
2          NaN     NaN     NaN  NaN  NaN NaN             NaN
3          NaN     NaN     NaN  NaN  NaN NaN             NaN
4          NaN     NaN     NaN  NaN  NaN NaN             NaN
..         ...     ...     ...  ...  ...  ..             ...
513        NaN     NaN     NaN  NaN  NaN NaN             NaN
514        NaN     NaN     NaN  NaN  NaN NaN             NaN
515        NaN     NaN     NaN  NaN  NaN NaN             NaN
516        NaN     NaN     NaN  NaN  NaN NaN             NaN
517        NaN     NaN     NaN  NaN  NaN NaN             NaN

[151 rows x 28 columns]

In [14]:
df3 = df3.drop(columns=['Unnamed: 0', 'posizione', 'nn', 'rank', 'prev_rank', 'name22', 'name22 pulito_y'])
print(df3)

KeyError: "['Unnamed: 0' 'posizione' 'nn' 'rank' 'prev_rank' 'name22'\n 'name22 pulito_y'] not found in axis"

In [15]:
print(df3.columns)

Index(['nome squadra', 'paese', '13/14', '14/15', '15/16', '16/17', '17/18',
       '18/19', '19/20', '20/21', '21/22', '22/23', 'TitlePoints',
       'CountryPart', 'UEFAPoints', 'nome squadra pulito', 'name22 pulito_x',
       'league', 'off', 'def', 'spi'],
      dtype='object')

In [16]:
df3.to_csv(r"C:\Users\Utente\Desktop\cakio\dcereijo-player-scores\data\trytierteam.csv", index=True)